{% extends "account_layout.html.twig" %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>
    <div class="container">
        <p>
            Choisissez l’horaire qui vous convient en fonction de la date et la localité.
        </p>
        <p>
            Une fois le rendez-vous validé, vous recevez immédiatement une confirmation par e-mail dans lequel
            apparaissent les coordonnées de votre thérapeute (pensez à vérifier vos spams).
        </p>
        <p>
            C'est à vous de prendre contact à l’heure du rendez-vous avec votre thérapeute. Si vous devez annuler votre
            rendez-vous, merci de le faire au moins 24h à l’avance afin de libérer le créneau pour une autre personne.
            D'une manière générale, ce dispositif vous offre un soutien de 5 séances sur l'ensemble de la durée du
            confinement.* Vous pouvez prendre plusieurs rendez-vous avec le ou la même thérapeute en recherchant son
            nom mais vous pouvez également faire appel à un.e autre thérapeute la fois suivante.
        </p>
        <p>
            Nb: Si à la suite de ce soutien psychologique ponctuel, vous décidez d’engager une thérapie avec un.e
            thérapeute de la plateforme, nous vous invitons à lui formuler votre demande directement. Ce suivi se fera aux
            conditions définies par le/la thérapeute dans le cadre de son activité régulière (régularité, tarif, etc.).
        </p>
        <p>*ces modalités peuvent évoluer en fonction de la situation</p>
    </div>

{% endblock %}
{% block javascripts %}
{% endblock %}