{% extends "account_layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block heading %}
    <div class="page-title-icon">
        <i class="pe-7s-loop icon-gradient bg-mean-fruit">
        </i>
    </div>
    <div>
        Recherche
    </div>
{% endblock %}

{% set user = current_user %}

{% block body %}
    <div id="patient_search_app" data-user="{{ user.id }}" data-country="{{ user.country }}" data-default-department="{{ user.department.id }}"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('patient_search_app') }}
{% endblock %}