{% extends "account_layout.html.twig" %}

{% block stylesheets %}
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <style>
        .booking_location {
            height: 38px;
        }
    </style>
{% endblock %}

{% set user = current_user %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" data-user-id="{{ user.id }}">Ma recherche</h1>
    </div>

    <div id="patient_search_app"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('patient_search_app') }}
{% endblock %}