<!-- Section: home -->
<section id="home" class="divider"
         style="
                 background-position: center center;
                 background-repeat: no-repeat;
                 background-size: 80%;
                 background-image: url('{{ asset('images/enlien_duo.jpg') }}');">
    <div class="display-table">
        <div class="display-table-cell">
            <div class="container pt-200 pb-200">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-dark-transparent pt-60 pb-60">
                            <h1 class="text-white bg-theme-colored-transparent text-uppercase text-right font-60 mb-0">Enlienavecvous.org</h1>
                            <h2 class="text-white font-weight-400 mt-2">Réseau de soutien psychologique durant la crise du Covid-19</h2>
                            <h2 class="text-white font-weight-400 mt-0">L'approche de la Gestalt-thérapie au service du plus grand nombre</h2>
                            <!--<a class="btn btn-colored btn-theme-colored btn-flat smooth-scroll-to-target mt-20" href="{{ path('ask_for_help') }}">Je demande de l'aide</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>