<!-- Section: home -->
<section id="home">
    <div class="container-fluid p-0">

        <!-- Slider Revolution Start -->
        <div class="rev_slider_wrapper">
            <div class="rev_slider rev_slider_default" data-version="5.0">
                <ul>
                    <!-- SLIDE 3 -->
                    <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="https://placehold.it/1920x1280" data-rotate="0" data-saveperformance="off" data-title="Slide 3" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ asset('images/enlien_duo_1280.png') }}"  alt=""  data-bgposition="center center" data-bgfit="90%" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pr-20 pl-20"
                             id="rs-3-layer-1"

                             data-x="['right']"
                             data-hoffset="['30']"
                             data-y="['middle']"
                             data-voffset="['-90']"
                             data-fontsize="['20','24','30']"
                             data-lineheight="['72']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap; font-weight:600; letter-spacing: 5px;">Enlienavecvous.org
                        </div>
                    </li>
                </ul>
            </div>
            <!-- end .rev_slider -->
        </div>

        <!-- Slider Revolution Ends -->
    </div>
</section>