/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

This is the file where you can add your custom styles to change the look of the
theme. But don't modify style-main.css file.

*/

/* Your custom css codes start here: */

@font-face {
    font-family: "Cavolini Regular";
    src: local("./assets/public/fonts/cavolini/Cavolini-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Regular";
    src: local("./assets/public/fonts/montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Montserrat Light";
    src: local("./assets/public/fonts/montserrat/Montserrat-Light.ttf");
}

/**
 * Common
 */
html, body {
    font-family: "Montserrat Regular";
}

section.inner-header h1 {
    font-family: "Cavolini Regular";
}

.menuzord-brand img {
    max-height: 60px !important;
}

/**
 * Homepage
 */
#home_section_1 h3 {
    font-family: "Montserrat Light";
}

#home_section_2 h3 {
    font-family: "Cavolini Regular";
    font-weight: bold;
}
#home_section_2 p {
    font-family: "Montserrat Light";
}
#home_section_2 a {
    font-family: "Montserrat Regular";
}
#home_section_2 .call-to-action a {
    font-family: "Montserrat Regular";
}

/**
 * Ask for help
 */
#ask_for_help_section_1 h4 {
    font-family: "Montserrat Light";
}

section#about h2 {
    font-family: "Montserrat Light";
    font-weight: 600;
}
form {
    font-family: "Montserrat Light";
}