<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}On est là pour vous !{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<br>
<br>
<br>
<footer class="container">
    <img src="{{ asset('images/logo_enlienavecvous_square.png') }}" alt="en lien avec vous logo" height="150">
</footer>
</body>
</html>
