{% extends "public_layout.html.twig" %}

{% block body %}
    <div class="container text-center">
        <h1>Politique de Protection des données</h1>
        <p>
            Le Responsable de Traitement de onestlapourvous.org est XXXXXX (mail@xxx.com).
        </p>
        <p>
            En accord avec le Règlement Général sur la Protection des Données, onestlapourvous-psy.com collecte des
            données uniquement à des fins de mise en relation de Gestalt-thérapeutes et Gestalt-praticiennes avec des
            personnes ressentant le besoin d’un soutien psychologique.
        </p>
        <p>
            Les données collectées par onestlapourvous-psy.com sont uniquement celles renseignées par les utilisateurs
            du site internet onestlapourvous-psy.com. Aucune autre donnée personnelle n'est collectée, notamment
            grâce à l'utilisation d'une technologie anonyme et sans cookie de mesure d'usage.
        </p>
        <p>
            Les données collectées dans le cadre du traitement de mise en relation de Gestalt-thérapeutes et Gestalt-
            praticiennes avec des personnes ressentant le besoin d’un soutien psychologique sont utilisées uniquement
            pour cet objectif. Elles sont supprimées automatiquement 2 mois après la mise en relation, ou sur simple
            demande à mail@xxx.com.
        </p>
        <p>
            Les données collectées correspondent à des données à caractères personnelles mais ne sont pas des
            données particulières dites à caractère sensible de par la nature de la collecte (anonymisation des
            informations partout où cela est possible, utilisation d'intervalles d'âges, mise en relation simple par e-mail,
            ...).
        </p>
        <p>
            Vous disposez d'un droit d'accès, de rectification, d’effacement et de portabilité de vos données ainsi que
            d’un droit d'opposition et d'un droit de limitation du traitement des données vous concernant. Vous pouvez
            exercer vos droits en nous contactant à l'adresse suivante : mail@xxx.com
        </p>
    </div>
{% endblock %}