{% extends "public_layout.html.twig" %}

{% block body %}
    <div class="container text-center">
        <h1>Numéros d'urgence</h1>
        <h2>En cas d'urgence physique ou psychologique, si votre vie ou celle d'autrui est en danger :</h2>
        
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">
                        <a>France</a>
                    </div>
                    <div class="text-left">
                        <p>Si vous êtes victimes ou témoins de violences sexistes et sexuelles, vous n’êtes pas seul.es.</p>
                        <p>
                            En cas d’urgence, contactez le 17 ou envoyez un SMS au 114. Vous pouvez également contacter le 3919 et le tchat
                            (https://commentonsaime.fr) de En Avant Toutes.
                        </p>
                        <p>Si vous avez un doute concernant des maltraitances sur des enfants, vous pouvez contacter le 119.</p>
                        <p>Numéro vert du service d’entraide et de soutien psychologique de la Croix Rouge française :</p>
                        <p><strong>09 70 28 30 00 ou 0800 858 858</strong></p>
                        <p>Retrouvez tous les numéros utiles ici :</p>
                        <a target="_blank" href="https://destinationsante.com/vous-avez-un-probleme-trouvez-le-bon-numero.html">https://destinationsante.com/vous-avez-un-probleme-trouvez-le-bon-numero.html</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <a>Suisse</a>
                    </div>
                    <div class="text-left">
                        <p>Retrouvez tous les numéros utiles ici :</p>
                        <a target="_blank" href="http://www.educh.ch/prevention/hotline-de-soutien-psychologique-gratuite-suisse-france-quebec-a1493.html">http://www.educh.ch/prevention/hotline-de-soutien-psychologique-gratuite-suisse-france-quebec-a1493.html</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <a>Belgique</a>
                    </div>
                    <div class="text-left">
                        <p>Retrouvez tous les numéros utiles ici :</p>
                        <a target="_blank" href="https://www.belgium.be/fr/sante/soins_de_sante/urgences">https://www.belgium.be/fr/sante/soins_de_sante/urgences</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <a>Luxembourg</a>
                    </div>
                    <div class="text-left">
                        <p>Retrouvez tous les numéros utiles ici :</p>
                        <a target="_blank" href="https://sante.public.lu/fr/urgences-gardes/autres-urgences/index.html">https://sante.public.lu/fr/urgences-gardes/autres-urgences/index.html</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}