{% extends "public_layout.html.twig" %}

{% block body %}
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay" data-bg-img="{{ asset('images/enlien_courbes.png') }}">
        <div class="container pt-30 pb-30">
            <!-- Section Content -->
            <div class="section-content text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h1 class="text-uppercase text-white font-30">Qu'est-ce que la gestalt-thérapie ?</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row mtli-row-clearfix">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="event-details">
                        <h2>Qu’est-ce que la Gestalt-thérapie ?</h2>
                        <p class="mb-20 mt-20">
                            Gestalt vient du verbe allemand « gestalten » qui pourrait se traduire par prendre forme, se structurer.
                            La Gestalt-thérapie est née dans les années cinquante aux États-Unis, et s’est développée en Europe dans les années 7O.
                        </p>
                        <p class="mb-20 mt-20">
                            En Gestalt-thérapie, l'attention est portée à ce qui se passe dans l'ici et maintenant et à l’impact que le passé continue
                            d’avoir dans nos vies présentes. Elle s'intéresse à remettre du mouvement, là où se sont installés de la fixité, de
                            l’habitude, du blocage en aidant la personne à élargir ses zones de choix. Elle permet ainsi de développer autonomie,
                            responsabilité et créativité.
                        </p>
                        <div class="pull-left flip mr-15">
                            <img alt="" src="{{ asset('images/enlien_gestalt.png') }}" width="400">
                        </div>
                        <div class="">
                            <p class="font-14 text-black-light">
                                La Gestalt-thérapie s’inscrit dans le courant de la psychologie humaniste considérant
                                l’être humain comme ayant les capacités et les ressources nécessaires à son
                                épanouissement. Elle s'intéresse à l'individu dans ses dimensions corporelles,
                                émotionnelles, culturelles, intellectuelles, spirituelles et à la manière dont nous
                                sommes en relation : de soi à soi, avec les autres, avec le monde.
                            </p>
                            <p class="mt-10">
                                Impliqué.e et engagé.e dans la relation thérapeutique, le/la thérapeute accompagne
                                la personne pour l'aider à identifier et exprimer ses émotions et ses besoins. Ce
                                cheminement à deux permet à la personne de consolider sa sécurité intérieure et de
                                devenir créatrice de sa vie.
                            </p>
                        </div>
                        <p class="mt-20">
                            Pour accéder à ce niveau d’existence, il s’agit de remettre l’individu au centre de sa vie, en l’initiant pas à pas, à la notion de
                            responsabilité au sens existentialiste. Ce qu’exprime Sartre en ces mots :
                        </p>
                        <blockquote class="gray">
                            <p>Je ne suis pas responsable de ce qu’on a fait de moi, mais je suis
                                responsable de ce que je fais de ce qu’on a fait de moi.</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}