{% extends "public_layout.html.twig" %}

{% block body %}
    <div class="container text-center">
        <h1>Comment ça marche ?</h1>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">Comment ça marche ?</h2>
                <p>
                    Vous allez remplir un questionnaire, différent selon si vous avez besoin de soutien psychologique ou si vous proposez vos services en tant que Gestalt-praticien.ne ou Gestalt-thérapeute. <br/>
                    Vous inscrirez le code postal. Ensuite, vous allez être mis en relation sur la base du code postal de la manière
                    suivante...<br/>
                    À partir de là la relation se déroule entre vous et le/la thérapeute dans le cadre du la charte de déontologie
                    définie par Onestlapourvous-psy.com<br/>
                    Nous vous invitons à respecter, à tout instant de votre relation d'entraide, les consignes en vigueur
                    disponibles sur <a target="_blank" href="https://www.gouvernement.fr/info-coronavirus">https://www.gouvernement.fr/info-coronavirus</a> .<br/>
                    Nous limitons l'inscription aux personnes.
                </p>
                <h2>Qui peut aider ?</h2>
                <h2>Qui peut bénéficier de l'aide ?</h2>
                <h2>Pourquoi un soutien psychologique et dans quelles situations ?</h2>
                <h2>Combien ça coûte ?</h2>
            </div>
        </div>
    </div>
{% endblock %}