{% extends "public_layout.html.twig" %}

{% block body %}
    <div class="container text-center">
        <h1>Votre compte a été créé avec succès ! Veuillez vérifier votre boite email afin de valider votre compte (vérifiez vos spams, on sait jamais) !</h1>
    </div>
{% endblock %}