{% extends "public_layout.html.twig" %}

{% block body %}
    <section>
        <div class="container text-center">
            <p>Votre compte a été créé avec succès ! Veuillez vérifier votre boite email afin de valider votre compte (vérifiez vos spams, on sait jamais) !</p>
        </div>
    </section>
{% endblock %}