{% extends "public_layout.html.twig" %}

{% block body %}
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay" data-bg-img="{{ asset('images/enlien_mains.jpg') }}">
        <div class="container pt-30 pb-30">
            <!-- Section Content -->
            <div class="section-content text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h1 class="text-uppercase text-white font-30">Conditions d'utilisation</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="position-inherit">
        <div class="container">
            <div class="row">
                <div class="col-md-3 scrolltofixed-container">
                    <div class="list-group scrolltofixed z-index-0">
                        <a href="#section-one" class="list-group-item smooth-scroll-to-target">Objet</a>

                        <a href="#section-two" class="list-group-item smooth-scroll-to-target">Description des services fournis</a>

                        <a href="#section-three" class="list-group-item smooth-scroll-to-target">Accès au service</a>

                        <a href="#section-four" class="list-group-item smooth-scroll-to-target">Limitations de responsabilité</a>

                        <a href="#section-five" class="list-group-item smooth-scroll-to-target">Limitations contractuelles sur les données techniques</a>

                        <a href="#section-six" class="list-group-item smooth-scroll-to-target">Propriété intellectuelle et contrefaçons</a>

                        <a href="#section-seven" class="list-group-item smooth-scroll-to-target">Nullité</a>

                        <a href="#section-eight" class="list-group-item smooth-scroll-to-target">Modifications des CGU</a>

                        <a href="#section-nine" class="list-group-item smooth-scroll-to-target">Durée</a>

                        <a href="#section-ten" class="list-group-item smooth-scroll-to-target">Loi applicable</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="mb-50">
                        <h3>Définitions</h3>
                        <hr>
                        <p class="mb-20">Les termes utilisés ont la définition suivante :</p>
                        <p>
                            Le Site : désigne le site internet accessible à l'adresse URL de la présente politique ;
                            L’Editrice : désigne l'organisation responsable du Site, telle que définie dans les Mentions Légales accessibles sur le Site ;
                            Visiteur / Visiteuse : désigne toute personne qui navigue et utilise le Site ;
                            « Conditions Générales d’Utilisation » et « CGU » : termes désignant les présentes, y incluant la Politique de Protection des données accessible sur le Site.
                        </p>
                    </div>
                    <div id="section-one" class="mb-50">
                        <h3>Article 1. Objet</h3>
                        <hr>
                        <p class="mb-20">Les présentes Conditions Générales d’Utilisation (ci-après « les CGU ») déterminent les règles d’accès, les modalités d’utilisation des services du Site, ainsi que les droits et responsabilités applicables à toute personne visitant le Site. Les CGU sont librement accessibles et consultables par toute personne naviguant/utilisant le Site.</p>
                        <p>
                            Les CGU doivent être acceptées sans réserve et dans leur intégralité par toute personne souhaitant accéder, naviguer et utiliser le Site. Elles constituent le contrat entre l’Editrice et toute personne visitant le Site.
                        </p>
                        <p>
                            Il est recommandé aux personnes visitant le site d’imprimer une copie des CGU et de les consulter régulièrement.
                        </p>
                    </div>
                    <div id="section-two" class="mb-50">
                        <h3>Article 2. Description des services fournis</h3>
                        <hr>
                        <p class="mb-20">
                            Le Site a pour objet de mettre en relation des praticien.ne.s de la Gestalt-thérapie avec des personnes ressentant le besoin d’un soutien psychologique dans le cadre de la crise du Covid 19 en France, Belgique, Suisse et au Luxembourg. Ce service est francophone.
                        </p>
                    </div>
                    <div id="section-three" class="mb-50">
                        <h3>Article 3. Accès au service</h3>
                        <hr>
                        <p class="mb-20">
                            Le Site est normalement accessible à tout moment aux utilisateurs et utilisatrices. Une interruption pour raison de maintenance technique peut être toutefois décidée par l'Editrice, qui s’efforcera alors de communiquer préalablement les dates et heures de l’intervention.
                        </p>
                        <p>
                            Pour accéder au Site, les Visiteurs et Visiteuses doivent être munies d’un matériel informatique personnel vierge de tout virus, cheval de Troie, bombe logique, ver informatique et de tout autre programme indésirable susceptible de perturber le fonctionnement et l’utilisation du Site et/ou la navigation sur le Site.
                        </p>
                        <p>
                            Le Visiteur ou la Visiteuse s’engage à mettre à jour régulièrement ses équipements, matériels et logiciels et connexions nécessaires au fonctionnement normal du Site.
                        </p>
                    </div>
                    <div id="section-four" class="mb-50">
                        <h3>Article 4. Limitations de responsabilité</h3>
                        <hr>
                        <p class="mb-20">
                            L'Editrice s’efforce de fournir sur le Site des informations aussi précises que possible. Toutefois, elle ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
                        </p>
                        <p>
                            Toutes les informations indiquées sur le Site sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le Site ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.
                        </p>
                        <p>
                            L'Editrice est un tiers aux correspondances et relations entre les Personnes en demande et les bénévoles, et exclut de ce fait toute responsabilité à cet égard.
                        </p>
                        <p>
                            L'Editrice ne saurait en aucun cas être tenue responsable des conséquences liées à la mise en relations des Personnes en demande et des bénévoles et ne donne aucune garantie, expresse ou implicite, à cet égard.
                        </p>
                        <p>
                            Les Personnes mises en relation sont seules responsables des discussions et entraides réalisées et de leurs conséquences.
                        </p>
                    </div>
                    <div id="section-five" class="mb-50">
                        <h3>Article 5. Limitations contractuelles sur les données techniques</h3>
                        <hr>
                        <p class="mb-20">
                            L'Editrice et la directrice de publication ne peuvent être tenues responsables des dommages directs et indirects causés au matériel de l’utilisateur lors de l’accès au Site. Toute forme de garantie est donc exclue en cas de dommage.
                        </p>
                        <p>
                            Dans la mesure ou des espaces interactifs pourraient être mis à la disposition des utilisateurs et utilisatrices, la directrice de publication se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation européenne, en particulier aux dispositions relatives à la protection des données. Le cas échéant, la directrice de publication se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur ou utilisatrice, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie, vidéo, …).
                        </p>
                    </div>
                    <div id="section-six" class="mb-50">
                        <h3>Article 6. Propriété intellectuelle et contrefaçons</h3>
                        <hr>
                        <p class="mb-20">
                            L'Editrice est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site.
                        </p>
                        <p>
                            Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de la directrice de publication.
                        </p>
                        <p>
                            Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du code de propriété intellectuelle.
                        </p>
                    </div>
                    <div id="section-seven" class="mb-50">
                        <h3>Article 7. Nullité</h3>
                        <hr>
                        <p class="mb-20">
                            Si une ou plusieurs clauses des présentes CGU étaient déclarées nulles ou invalides en application d’une loi, d’un règlement ou à la suite d’une décision définitive d’une juridiction compétente, les autres articles/clauses garderont toute leur force et toute leur portée.
                        </p>
                    </div>
                    <div id="section-eight" class="mb-50">
                        <h3>Article 8. Modification des CGU</h3>
                        <hr>
                        <p class="mb-20">
                            L'Editeur se réserve le droit d’apporter tout changement et corrections/évolutions aux présentes CGU. Les nouvelles CGU annuleront et remplaceront toutes les Conditions Générales d’Utilisation antérieures.
                        </p>
                    </div>
                    <div id="section-nine" class="mb-50">
                        <h3>Article 9. Durée</h3>
                        <hr>
                        <p class="mb-20">
                            Les CGU s’appliquent dès la première connexion au Site et lors de son utilisation. La durée des présentes CGU est indéterminée.
                        </p>
                    </div>
                    <div id="section-ten" class="mb-50">
                        <h3>Article 10. Loi applicable</h3>
                        <hr>
                        <p class="mb-20">
                            Les présentes CGU sont régies par la législation de l'UE sur la protection des données et la loi française. Seule la version française fera foi. Les éventuelles traductions des présentes CGU sont uniquement fournies par commodité.
                        </p>
                        <p>
                            Tout litige survenant à l’occasion de l’utilisation du Site, ou de l’application et de l’interprétation des présentes Conditions Générales d’Utilisation ou du soutien de la Tribune, ses conséquences, et ses suites sont soumis à la loi française et à la compétence des juridictions françaises.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}