{% extends "public_layout.html.twig" %}

{% block body %}
    <div class="container text-center">
        <h1>Le projet</h1>
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center">En cas d'urgence, si votre vie ou celle d'autrui est en danger, <a>contactez les numéros d'urgence de votre pays.</a></h2>
            </div>
        </div>
    </div>
{% endblock %}