{% extends "public_layout.html.twig" %}

{% block body %}
    <div class="container text-center">
        <h1>Le projet</h1>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Depuis déjà plusieurs semaines nous vivons une situation sanitaire inédite. Les périodes de crise sont une perte de repères et peuvent
                    accroitre maintes difficultés. Consciente des répercussions et des changements dus à la crise du Covid-19 au sein des familles et de la
                    société, et portée par des valeurs d’entraide et de solidarité, l’<a href="">équipe de enlienavecvous.org</a> a eu à cœur de se rendre utile.
                </p>
                <p>
                    Enlienavecvous.org a été pensé pour mettre en relation de manière coordonnée et gratuite des praticien.ne.s de la Gestalt-thérapie avec des
                    personnes ayant <a href="">besoin d’un soutien psychologique</a> durant cette période.
                </p>
                <p>
                    Cette plateforme est ouverte à l’ensemble de la population francophone de France, Suisse, Belgique et du Luxembourg.
                </p>
                <p>
                    L’<a href="">équipe de enlienavecvous.org</a> est constituée de gestaltistes d’horizons différents et a élaboré ce projet pour permettre à chacun.e de
                    l’ensemble des praticien.ne.s de <a href="">la Gestalt-thérapie</a> de <a href="">prendre part</a> à l’élan incroyable de solidarité actuel.
                </p>
                <p>
                    Notre plateforme est gratuite, sans publicité, open-source, et ne garde pas vos données.
                </p>
                <p>
                    <a href="{{ path('how_it_works') }}">En savoir plus sur Comment ça marche ?</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}