{% extends "public_layout.html.twig" %}

{% block body %}
    <div class="container text-center">
        <h1>Qu’est-ce que la Gestalt-thérapie ?</h1>
        <p>
            Gestalt vient du verbe allemand « gestalten » qui pourrait se traduire par prendre forme, se structurer.
            La Gestalt-thérapie est née dans les années cinquante aux États-Unis, et s’est développée en Europe dans les années
            7O.
        </p>
        <p>
            En Gestalt-thérapie, l'akengon est portée à ce qui se passe dans l'ici et maintenant et à l’impact que le passé congnue
            d’avoir dans nos vies présentes. Elle s'intéresse à remekre du mouvement, là où se sont installés de la fixité, de
            l’habitude, du blocage en aidant la personne à élargir ses zones de choix. Elle permet ainsi de développer autonomie,
            responsabilité et créagvité.
        </p>
        <p>
            La Gestalt-thérapie s’inscrit dans le courant de la psychologie humaniste considérant l’être humain comme ayant les
            capacités et les ressources nécessaires à son épanouissement. Elle s'intéresse à l'individu dans ses dimensions
            corporelles, émogonnelles, culturelles, intellectuelles, spirituelles et à la manière dont nous sommes en relagon : de soi
            à soi, avec les autres, avec le monde.
        </p>
        <p>
            Impliqué.e et engagé.e dans la relagon thérapeugque, le/la thérapeute accompagne la personne pour l'aider à idengfier
            et exprimer ses émogons et ses besoins. Ce cheminement à deux permet à la personne de consolider sa sécurité
            intérieure et de devenir créatrice de sa vie.
        </p>
        <p>
            Pour accéder à ce niveau d’existence, il s’agit de remettre l’individu au centre de sa vie, en l’inigant pas à pas, à la nogon
            de responsabilité au sens existengaliste. Ce qu’exprime Sartre en ces mots : « Je ne suis pas responsable de ce qu’on a
            fait de moi, mais je suis responsable de ce que je fais de ce qu’on a fait de moi. »
        </p>

        <h2>Qui sommes-nous ?</h2>
        <h3>Fondatrice :</h3>
        <p>Le Prévost Petit Clémence, Gestalt-praticienne</p>

        <h3>Co-fondatrices et co-fondateurs :</h3>
        <p>Bouchayer Xavière, Gestalt-thérapeute</p>
        <p>Bouchez Marie, Gestalt-thérapeute</p>
        <p>Christin Jean-Luc, Gestalt-thérapeute</p>
        <p>Cordelle Maïté, Gestalt-thérapeute</p>
        <p>Dorez Thierry Eduardo, Gestalt-thérapeute</p>
        <p>Grand Lionel, Gestalt-thérapeute</p>
        <p>Paulet Stève, Gestalt-thérapeute</p>

        <h3>Développement web :</h3>
        <p>Thomas Louis contact@louisthomas.fr</p>
        <p>Avec les conseils d’Emmanuelle Germond de</p>
        <p>OpenRomandie (hkps://openromandie.ch)</p>

        <h3>Illustrations :</h3>
        <p>Ganger Alice @alice-geographie (hkp://alice-
            geographie.com)</p>

        <h3>Equipe en charge de la Communicagon et des
            Réseaux Sociaux :</h3>
        <p>Wehmeyer Aude (insta)</p>
        <p>Le Prévost Petit Clémence</p>
    </div>

    <div class="container">
        <h2>Pour nous contacter :</h2>
        <p>Pour le grand public: <a href="">accueil@enlienavecvous.org</a></p>
        <p>Pour les thérapeutes: <a href="">contact-therapeutes@enlienavecvous.org</a></p>
    </div>
{% endblock %}