{% extends "public_layout.html.twig" %}

{% block body %}
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay" data-bg-img="{{ asset('images/enlien_courbes.png') }}">
        <div class="container pt-30 pb-30">
            <!-- Section Content -->
            <div class="section-content text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h1 class="text-uppercase text-white font-30">Qui sommes-nous ?</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: -->
    <section>
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <img alt="" src="{{ asset('images/enlien_qui.png') }}" class="img-fullwidth">
                    </div>
                    <div class="col-md-6">
                        <h4>Fondatrice :</h4>
                        <p>
                            Clémence Le Prévost Petit, Gestalt-praticienne
                        </p>
                        <h4>Co-fondatrices et co-fondateurs :</h4>
                        <ul class="list angle-double-right mt-0">
                            <li><a href="#">Jean-Luc Christin, Gestalt-thérapeute</a></li>
                            <li><a href="#">Lionel Grand, Gestalt-thérapeute</a></li>
                            <li><a href="#">Maïté Cordelle, Gestalt-thérapeute</a></li>
                            <li><a href="#">Marie Bouchez, Gestalt-thérapeute</a></li>
                            <li><a href="#">Stève Paulet, Gestalt-thérapeute</a></li>
                            <li><a href="#">Thierry Eduardo Dorez, Gestalt-thérapeute</a></li>
                            <li><a href="#">Xavière Bouchayer, Gestalt-thérapeute</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="section-content">
                <div class="row mt-30">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="schedule-box maxwidth500 bg-lighter mb-30">
                            <div class="schedule-details clearfix p-15 pt-10">
                                <h4 class="title bg-danger p-25 text-center font-30 text-white mt-0">Développement Web</h4>
                                <div class="clearfix"></div>
                                <p class="mt-10">
                                    Thomas Louis
                                    contact@louisthomas.fr<br>
                                    Avec les conseils d’Emmanuelle
                                    Germond de <a href="https://openromandie.ch" target="_blank">OpenRomandie</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="schedule-box maxwidth500 bg-lighter mb-30">
                            <div class="schedule-details clearfix p-15 pt-10">
                                <h4 class="title bg-danger p-25 text-center font-30 text-white mt-0">Graphisme</h4>
                                <div class="clearfix"></div>
                                <p class="mt-10">
                                    Illustrations: Gantier Alice <a href="http://alice-geographie.com" target="_blank">@alice-geographie</a>
                                </p>
                                <p class="mt-10">
                                    Logo: <a href="http://audreymartinelli.tumblr.com/" target="_blank">Audrey Martinelli</a>
                                </p>
                                <p class="mt-10">
                                    Conseils DA: Clarissa P. Valaeys <a href="http://contentplate.ch" target="_blank">@Contentplate</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-30">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="schedule-box maxwidth500 bg-lighter mb-30">
                            <div class="schedule-details clearfix p-15 pt-10">
                                <h4 class="title bg-danger p-25 text-center font-30 text-white mt-0">Communication</h4>
                                <div class="clearfix"></div>
                                <p class="mt-10">
                                    Equipe en charge de la
                                    Communication et des Réseaux
                                    Sociaux :<br>
                                    {#<a href="https://www.instagram.com/audewmy" target="_blank">Aude Wehmeyer</a><br>#}
                                    <a href="https://www.linkedin.com/in/clemenceleprevost" target="_blank">Le Prévost Petit Clémence</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="schedule-box maxwidth500 bg-lighter mb-30">
                            <div class="schedule-details clearfix p-15 pt-10">
                                <h4 class="title bg-danger p-25 text-center font-30 text-white mt-0">Contacts</h4>
                                <div class="clearfix"></div>
                                <p class="mt-10">
                                    Pour le grand public : <br>accueil@enlienavecvous.org<br>
                                    Pour les thérapeutes : <br>contact-therapeutes@enlienavecvous.org
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}