{% extends "public_layout.html.twig" %}

{% block body %}
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay overlay-dark" data-bg-img="{{ asset('images/enlien_mains.jpg') }}">
        <div class="container pt-30 pb-30">
            <!-- Section Content -->
            <div class="section-content text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h1 class="text-theme-colored font-36">Qui sommes-nous ?</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: -->
    <section>
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-4">
                        <img alt="" src="http://placehold.it/185x110" class="img-fullwidth">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Our Mission</h4>
                                <p>Etiam ullamcorper. Suspendisse a pellentesque dui, non felisaec enas malesuada elit lectus felismales uada ultricies. Curabitur et ligula. Ut mole stieultr cies porta urna. Vestibulum commodo volutpatco vallis ac, laoreet enim. Phasellus fermen. et ligula mole stie.</p>
                                <a class="btn btn-sm btn-colored btn-theme-colored" href="#">Read more</a>
                            </div>
                            <div class="col-md-6">
                                <ul class="list angle-double-right mt-0">
                                    <li><a href="#">Curabitur et ligula. Ut mole stie.</a></li>
                                    <li><a href="#">Maecenas malesuada elit lectus felis.</a></li>
                                    <li><a href="#">Vestibulum commodo volutpat a, convallis.</a></li>
                                    <li><a href="#">Suspendisse a pellentesque dui, non.</a></li>
                                    <li><a href="#">Phasellus fermen. et ligula. Ut mole stie.</a></li>
                                    <li><a href="#">Vestibulum commodo volutpat a, convallis.</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-30">
                    <div class="col-md-8">
                        <h5 class="text-uppercase font-weight-400">Cum sociis natoque penatibus et ultrices volutpat. Nullam wisi ultricies a, gravida vitae, dapibus risus ante sodales lectus.</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <p>Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut mole stie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermen. </p>
                                <a class="btn btn-sm btn-colored btn-theme-colored" href="#">Read more</a>
                            </div>
                            <div class="col-md-6">
                                <p>Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut mole stie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermen. </p>
                                <a class="btn btn-sm btn-colored btn-theme-colored" href="#">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumb">
                            <img class="img-fullwidth" src="http://placehold.it/540x370" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Divider: Funfact -->
    <section class="divider parallax layer-overlay overlay-theme-colored-9" data-bg-img="http://placehold.it/1920x1280" data-parallax-ratio="0.7">
        <div class="container pt-90 pb-90">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-smile mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="754" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">0</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Happy Donators</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-rocket mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="675" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">0</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Success Mission</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-add-user mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="1248" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">0</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Volunteer Reached</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-global mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="24" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">0</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Globalization Work</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="divider parallax layer-overlay overlay-deep" data-bg-img="https://placehold.it1920x1280">
        <div class="container">
            <div class="row text-justify">
                <div class="col-md-12">
                    <h3 class="line-bottom">Si vous demandez de l'aide :</h3>
                    <p>
                        Gestalt vient du verbe allemand « gestalten » qui pourrait se traduire par prendre forme, se structurer. La Gestalt-thérapie est née dans les années cinquante aux États-Unis, et s’est développée en Europe dans les années 7O.
                    </p>
                    <p>
                        En Gestalt-thérapie, l'akengon est portée à ce qui se passe dans l'ici et maintenant et à l’impact que le passé congnue d’avoir dans nos vies présentes. Elle s'intéresse à remekre du mouvement, là où se sont installés de la fixité, de l’habitude, du blocage en aidant la personne à élargir ses zones de choix. Elle permet ainsi de développer autonomie, responsabilité et créagvité.
                    </p>
                    <p>
                        La Gestalt-thérapie s’inscrit dans le courant de la psychologie humaniste considérant l’être humain comme ayant les capacités et les ressources nécessaires à son épanouissement. Elle s'intéresse à l'individu dans ses dimensions corporelles, émogonnelles, culturelles, intellectuelles, spirituelles et à la manière dont nous sommes en relagon : de soi à soi, avec les autres, avec le monde.
                    </p>
                    <p>
                        mpliqué.e et engagé.e dans la relagon thérapeugque, le/la thérapeute accompagne la personne pour l'aider à idengfier et exprimer ses émogons et ses besoins. Ce cheminement à deux permet à la personne de consolider sa sécurité intérieure et de devenir créatrice de sa vie.
                    </p>
                    <p>
                        Pour accéder à ce niveau d’existence, il s’agit de remettre l’individu au centre de sa vie, en l’inigant pas à pas, à la nogon de responsabilité au sens existengaliste. Ce qu’exprime Sartre en ces mots : « Je ne suis pas responsable de ce qu’on a fait de moi, mais je suis responsable de ce que je fais de ce qu’on a fait de moi. »
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: volunteers -->
    <section>
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="font-weight-300 m-0">Qui sommes nous ?</h5>
                        <h2 class="mt-0 text-uppercase font-28"><span class="text-theme-colored font-weight-400">Fondatrice</span> <span class="font-30 text-theme-colored">.</span></h2>
                        <div class="icon">
                            <i class="fa fa-hospital-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb"> 
                                <img src="https://placehold.it/270x270" alt="" class="img-fullwidth img-responsive"> 
                            </div>
                            <div class="bg-lighter text-center pt-20">
                                <div class="member-biography">
                                    <h3 class="mt-0">Le Prévost Petit Clémence</h3>
                                    <p>Gestalt-praticienne, fondatrice</p>
                                </div>
                                <ul class="styled-icons icon-theme-colored icon-circled pt-5">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="mt-0 text-uppercase font-28">Co-fondateurs et<span class="text-theme-colored font-weight-400">co-fondatrices</span> <span class="font-30 text-theme-colored">.</span></h2>
                        <div class="icon">
                            <i class="fa fa-hospital-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb">
                                <img src="https://placehold.it/270x270" alt="" class="img-fullwidth img-responsive">
                            </div>
                            <div class="bg-lighter text-center pt-20">
                                <div class="member-biography">
                                    <h3 class="mt-0">Bouchayer Xavière</h3>
                                    <p>Gestalt-thérapeute</p>
                                </div>
                                <ul class="styled-icons icon-theme-colored icon-circled pt-5">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb">
                                <img src="https://placehold.it/270x270" alt="" class="img-fullwidth img-responsive">
                            </div>
                            <div class="bg-lighter text-center pt-20">
                                <div class="member-biography">
                                    <h3 class="mt-0">Bouchez Marie</h3>
                                    <p>Gestalt-thérapeute</p>
                                </div>
                                <ul class="styled-icons icon-theme-colored icon-circled pt-5">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb">
                                <img src="https://placehold.it/270x270" alt="" class="img-fullwidth img-responsive">
                            </div>
                            <div class="bg-lighter text-center pt-20">
                                <div class="member-biography">
                                    <h3 class="mt-0">Christin Jean-Luc</h3>
                                    <p>Gestalt-thérapeute</p>
                                </div>
                                <ul class="styled-icons icon-theme-colored icon-circled pt-5">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb">
                                <img src="https://placehold.it/270x270" alt="" class="img-fullwidth img-responsive">
                            </div>
                            <div class="bg-lighter text-center pt-20">
                                <div class="member-biography">
                                    <h3 class="mt-0">Cordelle Maïté</h3>
                                    <p>Gestalt-thérapeute</p>
                                </div>
                                <ul class="styled-icons icon-theme-colored icon-circled pt-5">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb">
                                <img src="https://placehold.it/270x270" alt="" class="img-fullwidth img-responsive">
                            </div>
                            <div class="bg-lighter text-center pt-20">
                                <div class="member-biography">
                                    <h3 class="mt-0">Dorez Thierry Eduardo</h3>
                                    <p>Gestalt-thérapeute</p>
                                </div>
                                <ul class="styled-icons icon-theme-colored icon-circled pt-5">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb">
                                <img src="https://placehold.it/270x270" alt="" class="img-fullwidth img-responsive">
                            </div>
                            <div class="bg-lighter text-center pt-20">
                                <div class="member-biography">
                                    <h3 class="mt-0">Grand Lionel</h3>
                                    <p>Gestalt-thérapeute</p>
                                </div>
                                <ul class="styled-icons icon-theme-colored icon-circled pt-5">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb">
                                <img src="https://placehold.it/270x270" alt="" class="img-fullwidth img-responsive">
                            </div>
                            <div class="bg-lighter text-center pt-20">
                                <div class="member-biography">
                                    <h3 class="mt-0">Paulet Stève</h3>
                                    <p>Gestalt-thérapeute</p>
                                </div>
                                <ul class="styled-icons icon-theme-colored icon-circled pt-5">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="font-weight-300 m-0">Qui sommes nous ?</h5>
                        <h2 class="mt-0 text-uppercase font-28">Développement<span class="text-theme-colored font-weight-400"> Web</span> <span class="font-30 text-theme-colored">.</span></h2>
                        <div class="icon">
                            <i class="fa fa-hospital-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb">
                                <img src="https://placehold.it/270x270" alt="" class="img-fullwidth img-responsive">
                            </div>
                            <div class="bg-lighter text-center pt-20">
                                <div class="member-biography">
                                    <h3 class="mt-0">Thomas Louis</h3>
                                    <p>Développeur PHP Symfony</p>
                                </div>
                                <ul class="styled-icons icon-theme-colored icon-circled pt-5">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="font-weight-300 m-0">Qui sommes nous ?</h5>
                        <h2 class="mt-0 text-uppercase font-28">Sur les <span class="text-theme-colored font-weight-400"> conseils de</span> <span class="font-30 text-theme-colored">:</span></h2>
                        <div class="icon">
                            <i class="fa fa-hospital-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb">
                                <img src="https://placehold.it/270x270" alt="" class="img-fullwidth img-responsive">
                            </div>
                            <div class="bg-lighter text-center pt-20">
                                <div class="member-biography">
                                    <h3 class="mt-0">Emmanuelle Germond</h3>
                                    <p>OpenRomandie (<a href="https://openromandie.ch">https://openromandie.ch</a>)</p>
                                </div>
                                <ul class="styled-icons icon-theme-colored icon-circled pt-5">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="font-weight-300 m-0">Qui sommes nous ?</h5>
                        <h2 class="mt-0 text-uppercase font-28"><span class="text-theme-colored font-weight-400">Illustrations</span> <span class="font-30 text-theme-colored">:</span></h2>
                        <div class="icon">
                            <i class="fa fa-hospital-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb">
                                <img src="https://placehold.it/270x270" alt="" class="img-fullwidth img-responsive">
                            </div>
                            <div class="bg-lighter text-center pt-20">
                                <div class="member-biography">
                                    <h3 class="mt-0">Ganger Alice</h3>
                                    <p>@alice-geographie (<a href="https://alice- geographie.com">https://alice- geographie.com</a>)</p>
                                </div>
                                <ul class="styled-icons icon-theme-colored icon-circled pt-5">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="font-weight-300 m-0">Qui sommes nous ?</h5>
                        <h2 class="mt-0 text-uppercase font-28">Equipe en charge de <span class="text-theme-colored font-weight-400">la Communicagon et des Réseaux Sociaux</span> <span class="font-30 text-theme-colored">:</span></h2>
                        <div class="icon">
                            <i class="fa fa-hospital-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-content">
                <div class="row">
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb">
                                <img src="https://placehold.it/270x270" alt="" class="img-fullwidth img-responsive">
                            </div>
                            <div class="bg-lighter text-center pt-20">
                                <div class="member-biography">
                                    <h3 class="mt-0">Wehmeyer Aude</h3>
                                    <p>@(<a href="https://instagram.com">https://instagram.com</a>)</p>
                                </div>
                                <ul class="styled-icons icon-theme-colored icon-circled pt-5">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-3 pb-sm-30">
                        <div class="team-member">
                            <div class="volunteer-thumb">
                                <img src="https://placehold.it/270x270" alt="" class="img-fullwidth img-responsive">
                            </div>
                            <div class="bg-lighter text-center pt-20">
                                <div class="member-biography">
                                    <h3 class="mt-0">Le Prévost Petit Clémence</h3>
                                </div>
                                <ul class="styled-icons icon-theme-colored icon-circled pt-5">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container text-center">
        <h2>Qui sommes-nous ?</h2>
        <h3>Fondatrice :</h3>
        <p>Le Prévost Petit Clémence, Gestalt-praticienne</p>

        <h3>Co-fondatrices et co-fondateurs :</h3>
        <p>Bouchayer Xavière, Gestalt-thérapeute</p>
        <p>Bouchez Marie, Gestalt-thérapeute</p>
        <p>Christin Jean-Luc, Gestalt-thérapeute</p>
        <p>Cordelle Maïté, Gestalt-thérapeute</p>
        <p>Dorez Thierry Eduardo, Gestalt-thérapeute</p>
        <p>Grand Lionel, Gestalt-thérapeute</p>
        <p>Paulet Stève, Gestalt-thérapeute</p>

        <h3>Développement web :</h3>
        <p>Thomas Louis contact@louisthomas.fr</p>
        <p>Avec les conseils d’Emmanuelle Germond de</p>
        <p>OpenRomandie (hkps://openromandie.ch)</p>

        <h3>Illustrations :</h3>
        <p>Ganger Alice @alice-geographie (hkp://alice-
            geographie.com)</p>

        <h3>Equipe en charge de la Communicagon et des
            Réseaux Sociaux :</h3>
        <p>Wehmeyer Aude (insta)</p>
        <p>Le Prévost Petit Clémence</p>
    </div>

    <div class="container">
        <h2>Pour nous contacter :</h2>
        <p>Pour le grand public: <a href="">accueil@enlienavecvous.org</a></p>
        <p>Pour les thérapeutes: <a href="">contact-therapeutes@enlienavecvous.org</a></p>
    </div>
{% endblock %}