{% extends "public_layout.html.twig" %}

{% block body %}
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay" data-bg-img="{{ asset('images/enlien_courbes.png') }}">
        <div class="container pt-30 pb-30">
            <!-- Section Content -->
            <div class="section-content text-center">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <h1 class="text-uppercase text-white font-30">Qui sommes-nous ?</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: -->
    <section>
        <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <img alt="" src="https://placehold.it/500x400" class="img-fullwidth">
                    </div>
                    <div class="col-md-6">
                        <h4>Fondatrice :</h4>
                        <p>
                            Clémence Le Prévost Petit, Gestalt-praticienne
                        </p>
                        <h4>Co-fondatrices et co-fondateurs :</h4>
                        <ul class="list angle-double-right mt-0">
                            <li><a href="#">Jean-Luc Christin, Gestalt-thérapeute</a></li>
                            <li><a href="#">Lionel Grand, Gestalt-thérapeute</a></li>
                            <li><a href="#">Maïté Cordelle, Gestalt-thérapeute</a></li>
                            <li><a href="#">Marie Bouchez, Gestalt-thérapeute</a></li>
                            <li><a href="#">Stève Paulet, Gestalt-thérapeute</a></li>
                            <li><a href="#">Thierry Eduardo Dorez, Gestalt-thérapeute</a></li>
                            <li><a href="#">Xavière Bouchayer, Gestalt-thérapeute</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Divider: Funfact -->
    <section class="divider parallax layer-overlay overlay-theme-colored-9" data-bg-img="https://placehold.it/1920x1280" data-parallax-ratio="0.7">
        <div class="container pt-90 pb-90">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-smile mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="754" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">0</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Happy Donators</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-rocket mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="675" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">0</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Success Mission</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-add-user mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="1248" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">0</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Volunteer Reached</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <i class="pe-7s-global mt-5 text-white"></i>
                        <h2 data-animation-duration="2000" data-value="24" class="animate-number text-white font-42 font-weight-500 mt-0 mb-0">0</h2>
                        <h5 class="text-white text-uppercase font-weight-600">Globalization Work</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="section-content">
                <div class="row mt-30">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="schedule-box maxwidth500 bg-lighter mb-30">
                            <div class="schedule-details clearfix p-15 pt-10">
                                <h4 class="title bg-danger p-25 text-center font-30 text-white mt-0">Développement Web</h4>
                                <div class="clearfix"></div>
                                <p class="mt-10">
                                    Thomas Louis
                                    contact@louisthomas.fr
                                    Avec les conseils d’Emmanuelle
                                    Germond de OpenRomandie
                                    (https://openromandie.ch)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="schedule-box maxwidth500 bg-lighter mb-30">
                            <div class="schedule-details clearfix p-15 pt-10">
                                <h4 class="title bg-danger p-25 text-center font-30 text-white mt-0">Graphisme</h4>
                                <div class="clearfix"></div>
                                <p class="mt-10">
                                    Illustrations: Gantier Alice @alice-geographie
                                    (http://alice-geographie.com)
                                </p>
                                <p class="mt-10">
                                    Logo: Audrey Martinelli
                                </p>
                                <p class="mt-10">
                                    Conseils DA: Clarissa P. Valaeys @Contentplate
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="schedule-box maxwidth500 bg-lighter mb-30">
                            <div class="schedule-details clearfix p-15 pt-10">
                                <h4 class="title bg-danger p-25 text-center font-30 text-white mt-0">Communication</h4>
                                <div class="clearfix"></div>
                                <p class="mt-10">
                                    Equipe en charge de la
                                    Communication et des Réseaux
                                    Sociaux :
                                    Wehmeyer Aude (insta)
                                    Le Prévost PePt Clémence
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-30">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="schedule-box maxwidth500 bg-lighter mb-30">
                            <div class="schedule-details clearfix p-15 pt-10">
                                <h4 class="title bg-danger p-25 text-center font-30 text-white mt-0">Contacts</h4>
                                <div class="clearfix"></div>
                                <p class="mt-10">
                                    Pour nous contacter
                                    Pour le grand public : accueil@enlienavecvous.org
                                    Pour les thérapeutes : contact-therapeutes@enlienavecvous.org
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {#<section class="divider parallax layer-overlay overlay-deep" data-bg-img="https://placehold.it1920x1280">
        <div class="container">
            <div class="row text-justify">
                <div class="col-md-12">
                    <h3 class="line-bottom">Si vous demandez de l'aide :</h3>
                    <p>
                        Gestalt vient du verbe allemand « gestalten » qui pourrait se traduire par prendre forme, se structurer. La Gestalt-thérapie est née dans les années cinquante aux États-Unis, et s’est développée en Europe dans les années 7O.
                    </p>
                    <p>
                        En Gestalt-thérapie, l'attention est portée à ce qui se passe dans l'ici et maintenant et à l’impact que le passé congnue d’avoir dans nos vies présentes. Elle s'intéresse à remekre du mouvement, là où se sont installés de la fixité, de l’habitude, du blocage en aidant la personne à élargir ses zones de choix. Elle permet ainsi de développer autonomie, responsabilité et créagvité.
                    </p>
                    <p>
                        La Gestalt-thérapie s’inscrit dans le courant de la psychologie humaniste considérant l’être humain comme ayant les capacités et les ressources nécessaires à son épanouissement. Elle s'intéresse à l'individu dans ses dimensions corporelles, émogonnelles, culturelles, intellectuelles, spirituelles et à la manière dont nous sommes en relagon : de soi à soi, avec les autres, avec le monde.
                    </p>
                    <p>
                        mpliqué.e et engagé.e dans la relagon thérapeugque, le/la thérapeute accompagne la personne pour l'aider à idengfier et exprimer ses émogons et ses besoins. Ce cheminement à deux permet à la personne de consolider sa sécurité intérieure et de devenir créatrice de sa vie.
                    </p>
                    <p>
                        Pour accéder à ce niveau d’existence, il s’agit de remettre l’individu au centre de sa vie, en l’inigant pas à pas, à la nogon de responsabilité au sens existengaliste. Ce qu’exprime Sartre en ces mots : « Je ne suis pas responsable de ce qu’on a fait de moi, mais je suis responsable de ce que je fais de ce qu’on a fait de moi. »
                    </p>
                </div>
            </div>
        </div>
    </section>#}
{% endblock %}