{% extends "account_layout.html.twig" %}

{% block heading %}
    <div class="page-title-icon">
        <i class="pe-7s-clock icon-gradient bg-mean-fruit">
        </i>
    </div>
    <div>
        Annulation d'un rendez-vous
    </div>
{% endblock %}

{% set form = booking_cancellation_form %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-md-1">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="firstName">Message à transmettre</label>
                        {{ form_widget(form.cancelMessage, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Envoyer le message et annuler le rendez-vous</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}