{% extends "email_layout.html.twig" %}

{% block body %}
    <h1>Nous avons bien pris en compte votre désinscription.</h1>
    <p>
        Vos données personnelles ont été effacées.
    </p>

    <p>
        Nous espérons que vous avez pu recevoir le soutien dont vous aviez besoin.
    </p>

    <p>Bien chaleureusement,</p>
    <p>L’équipe de Enlienavecvous.org</p>
{% endblock %}