<h1>Votre inscription a bien été enregistrée.</h1>
<p>L'équipe de Onestlapourvous.org vous souhaite la bienvenue.</p>

<p>Nous vous proposons de prendre votre premier rendez-vous dès maintenant en cliquant sur le lien ci-dessous :</p>
<a href="https://onestlapourvous.herokuapp.com/email/confirmation/{{ email_token }}">https://onestlapourvous.herokuapp.com/email/confirmation/{{ email_token }}</a>