{% extends "email_layout.html.twig" %}

{% block body %}
    <h1>Votre inscription a bien été enregistrée.</h1>
    <p>L'équipe de Enlienavecvous.org vous souhaite la bienvenue.</p>

    <p>Nous vous proposons de prendre votre premier rendez-vous dès maintenant en cliquant sur le lien ci-dessous :</p>
    <a href="{{ project_url }}email/confirmation/{{ email_token }}">{{ project_url }}email/confirmation/{{ email_token }}</a>
{% endblock %}
