{% extends "email_layout.html.twig" %}

{% block body %}
    <h1>Votre inscription a bien été enregistrée.</h1>
    <p>L'équipe de Enlienavecvous.org vous souhaite la bienvenue et vous remercie pour votre engagement dans ce réseau gestaltiste de soutien psychologique.</p>

    <p>Nous vous proposons de renseigner dès maintenant vos disponibilités en cliquant sur le lien ci-dessous :</p>
    <a href="{{ project_url }}email/confirmation/{{ email_token }}">{{ project_url }}email/confirmation/{{ email_token }}</a>
    <br>
    <p>Nous avons créé un <a href="https://www.facebook.com/groups/626405607947776" target="_blank">groupe Facebook</a> d'échange entre thérapeutes de la plateforme. Nous vous invitons à rejoindre cet espace pour partager votre expérience et chercher du soutien si besoin.</p>
    <p>Pour toutes questions d'utilisation de la plateforme vous pouvez nous contacter à :</p>
    <a href="mailto:contact-therapeutes@enlienavecvous.org">contact-therapeutes@enlienavecvous.org</a>
{% endblock %}