{% extends "email_layout.html.twig" %}

{% block body %}
    <h1>Nous avons bien pris en compte votre désinscription.</h1>
    <p>
        Vos données personnelles ont été effacées.
    </p>
    <p>
        Nous vous remercions d’avoir participé à ce projet.
    </p>
    <p>
        Si vous avez rencontré des difficultés dans l’utilisation de la plateforme n’hésitez pas à <a href="mailto:accueil@enlienavecvous.org">nous en faire part.</a>
    </p>

    <p>Bien chaleureusement,</p>
    <p>L’équipe de Enlienavecvous.org</p>
{% endblock %}