{% extends "email_layout.html.twig" %}

{% block body %}
    <h1>Vous avez réinitialisé votre mot de passe avec succès.</h1>
    <br>
    <p>Si vous n'êtes pas à l'origine de cette action, merci d'envoyer un mail de toute urgence à :</p>
    <br>
    <a href="mailto:contact-therapeutes@enlienavecvous.org">contact-therapeutes@enlienavecvous.org</a>
{% endblock %}